<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_xIdiYzpTfQkqO0n1Z-dwOyDmjF0qTUg</string>
	<key>GCM_SENDER_ID</key>
	<string>500253204530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRiverpodPractice1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-riverpod-practice</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-riverpod-practice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500253204530:ios:7ad763f33c852dcacd5c2b</string>
</dict>
</plist>